*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

body{
    padding: 0px;
    margin-top: -18px; 
}

/*<!--000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000-->
<!--Nav bar and Logo-->*/
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background-color: #636B2F;
}

.navlist{
    display: flex;
}

.navlist a{
    color: #BF9B30;
    font-weight: bolder;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

.menu-icon{
    color: transparent;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/*<!--000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000-->
<!--Contacts-->*/
.phone{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.phone p{
    color: black;
    font-size: px;
    }    

.fa-solid, .fa-brands{
    color: #BF9B30;
    font-size: px;
    } 

.phone div{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.phone div:first-child{
    margin-left: 10%;
}

.phone div:last-child{
    margin-right: 10%;
}

/*form*/


.contact-form {
    display: flex;
    width: 100%;
    padding: 10%;
    background-color: #fff;
    border-radius: 8px;
}

.left-div, .right-div {
    flex: 1;
    padding: 20px;
}

.left-div img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-bottom: 1px solid #BF9B30;
}

.right-div {
    border-left: 1px solid #BF9B30;
}

.right-div h1{
    color: gray;
    font-size: 25px;
}

.right-div i{
    color: red;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;              /**Formspree login- password: Stockmsp#017 email: impeccaclean01@gmail.com**/
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #636B2F;
}

select{
    background-color: #fff;
}

input, textarea, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #BF9B30;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #BF9B30;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #BF9B30;
}

/*Areas*/



.areas-container {
    background-color: #636B2F;
    padding: 20px;
    text-align: center;
   
    
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: white;
}

.heading::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #BF9B30;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.areas {
    display: flex;
    justify-content: space-between;
}

.area {
    color: #BF9B30;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px;
    flex: 1;
    margin: 0 10px; /* Spacing between divs */
    text-align: center;
    box-sizing: border-box;
}




/*<!--000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000-->
<!--Footer-->*/

.para-space{
    height: 15px;
}

hr{
    text-decoration: none;
    color: #BF9B30;
    width: 300px;
    font-family: 'Poppins', 'Arial', sans-serif;
}

footer{
    font-family: 'Poppins', 'Arial', sans-serif;
    background-color: #636B2F;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    position:relative;
    bottom: 0;
    width: 100%;
    color: white;
    /*font-family: 'Poppins', 'Arial', sans-serif;
        background-color: #636B2F;
        padding: 20px;
        color: white;*/
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container div {
    
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
    justify-content: center;
}

.container div:first-child {
    margin-left: 0;
}

.container div:last-child {
    margin-right: 0;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terms a{
  color: #BF9B30;  
}

.terms button a{
    color: #fff;  
    text-decoration: none;
  }

  .terms button a:hover{
    color: #BF9B30;  
  }


.terms button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #BF9B30;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.terms button:hover{
    background-color: white;
    color: #BF9B30;
}

.company {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    
}

.social-links a{
    padding: 10px;
    color: #BF9B30;
}

.social-links a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}